<div class="page-header">
  <h1>
    Shopping lists
    <a href="/shopping_lists/new" class="btn btn-lg btn-success">New Shopping list</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Items</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>

      <% @shopping_lists.each do |shopping_list| %>
      <tr>
        <td><%= Item.find_by( :id => shopping_list.items_id).item_name %></td>
        <td><%= shopping_list.quantity %></td>
        <td>
          <a href="/shopping_lists/<%= shopping_list.id %>" class="btn btn-default">Show</a>
          <a href="/shopping_lists/<%= shopping_list.id %>/edit" class="btn btn-default">Edit</a>
          <a href="/delete_shopping_list/<%= shopping_list.id %>" class="btn btn-default" rel="nofollow">Delete</a>
          <a href="/fridge_contents/new" class="btn btn-default" rel="nofollow">Purchased!</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
